/* Estilos globales */
.pangolin-regular {
  font-family: "Pangolin", cursive;
  font-weight: 400;
  font-style: normal;
}
.gloria-hallelujah-regular {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
}

#app {
  position: relative;
  max-width: 1580px;
}
body {
  background-color: #81c2e8;
  font-family: "Pangolin", cursive;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
.header-container {
  text-align: center;
  width: 100%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
  color: white;
  font-family: "Gloria Hallelujah", cursive;
}
.header-overlay {
  width: 100%;
  height: 100%;
  padding: 50px;
  background: #8e2f1a;
}
.titulo-nuevo {
  width: 500px;
  max-width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.footer-container {
  text-align: center;
  width: 100%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 85% 85% 0% 0% / 30%;
  color: white;
  font-size: 20px;
}
.titulo-idea {
  width: 500px;
  height: auto;
  display: block;
  margin: 0 auto;
  max-width: 90%;
}
.footer-overlay {
  width: 100%;
  height: 100%;
  padding: 50px;
}
a.button {
  margin-top: 20px;
  display: inline-block;
  padding: 14px 28px;
  background-color: #ffe4f0;
  color: #5b3c40;
  border: 2px solid #ffcce1;
  border-radius: 25px;
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  font-family: "Pangolin", cursive;
}
a.button:hover {
  filter: brightness(150%);
  background-color: #ffd6ec;
  border-color: #ffb6d1;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
}
.change-section {
  margin-top: 20px;
  display: inline-block;
  padding: 14px 28px;
  background-color: #ffe4f0;
  color: #5b3c40;
  border: 2px solid #ffcce1;
  border-radius: 25px;
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  font-family: "Pangolin", cursive;
  text-align: center;
}
.change-section:hover {
  filter: brightness(150%);
  background-color: #ffd6ec;
  border-color: #ffb6d1;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
}
.container-pre-armar {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  position: relative;
}
.bunni-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 400px auto 0 auto;
  width: fit-content;
}

.bunni-container2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 500px auto 0 auto;
  width: fit-content;
}

.speech {
  position: absolute;
  bottom: 450px;
  left: 0%;

  background-image: url("/images/Speech_intro.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 50px 60px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Pangolin", cursive;
  font-size: 25px;
  min-width: 150px;
  min-height: 400px;
  max-width: 800px;
  flex-wrap: wrap;
  width: 600px;
  z-index: 10;
}
.speech2 {
  position: absolute;
  bottom: 250px;
  left: 0%;
  background-image: url("/images/Speech_intro.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 50px 60px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Pangolin", cursive;
  font-size: 20px;
  min-width: 150px;
  min-height: 400px;
  max-width: 800px;
  flex-wrap: wrap;
  width: 500px;
  z-index: 10;
}

.bunny-speech {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  gap: 30px;
}

.bunny-text {
  font-size: 19px;
  flex: 1;
  line-height: 1.5;
}

.bunny-img {
  width: 170px;
  height: auto;
}

.conejo {
  width: 500px;
  height: 500px;
  margin-top: 350px;
}
.seccion-graficos {
  width: 100%;
  background-color: #9487bd; /* un tono más oscuro para contraste */
  color: #fff;
  text-align: center;
  padding: 100px 20px;
  font-family: "Pangolin", cursive;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* efecto de profundidad */
  margin-top: 100px;
}

.titulo-graficos {
  font-size: 50px;
  margin: 0;
  letter-spacing: 2px;
}
.conejo-inv {
  width: 400px;
  height: auto;
  transform: scaleX(-1);
}

#game-container {
  width: 400px;
  height: 400px;

  position: relative;
  background-image: url("/images/fondo_juego2.svg");
  margin: 50px auto;
}
.juego2 {
  background-color: #4caf50;
}

/* #basket {
            width: 57px;
            height: 91px;
            background-image: url("./images/prueba_1.png");
            position: absolute;
            bottom: 0;
        } */

.fruit {
  width: 24.11px;
  height: 30px;
  background-image: url("/images/pez.svg");
  position: absolute;
  top: 0;
}

.button-linkedin {
  background-color: #ffffff00;
}

.video-full {
  width: 100vw; /* Ocupa todo el ancho de la ventana */
  height: auto; /* Mantiene la proporción original */
  display: block; /* Elimina espacio debajo del video */
  margin: 0 auto; /* Centrado horizontal */
  object-fit: cover; /* Opcional: llena el ancho sin deformar */
}

.boton-siguiente {
  background-color: #ffe4f0;
  color: #5b3c40;
  border: 2px solid #ffcce1;
  border-radius: 30px;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Pangolin", cursive;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.boton-siguiente:hover {
  background-color: #ffd6ec;
  border-color: #ffb6d1;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.boton-siguiente:active {
  transform: scale(0.97);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.message2 {
  display: flex;
  flex-direction: row; /* Asegura que el orden sea: conejo → texto */
  align-items: center;
  justify-content: center;
  gap: 40px;
  /* margin-top: 50px;
  margin-bottom: 50px; */
  flex-wrap: wrap;
  background-color: #4caf50;
}

.conejofoto {
  width: 300px;
  height: auto;
  animation: flotar2 5s ease-in-out infinite;
}

.mensajedeconejo {
  background-image: url("/images/Speech_intro.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 40px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Pangolin", cursive;
  font-size: 20px;
  width: 600px;
  min-height: 300px;
  line-height: 1.6;
  word-wrap: break-word;
  overflow-wrap: break-word;
  animation: flotar2 5s ease-in-out infinite;
  margin-top: 50px;
  margin-bottom: 50px;
}
.fondo-graficos {
  background-image: url("/images/tierra.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
